<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/common.css"/>
		<link rel="stylesheet" href="../../static/css/member/member.css?v=1.0.0" />
		<script type="text/javascript" src="../../static/js/weui.min.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/jquery.min.js?v=1.0.0"></script>
        <script src="../../static/js/config.js"></script>
		<script type="text/javascript" src="../../static/js/utils/core.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/utils/getWxOpenId.js"></script>
        <script src="../../static/js/member/member.js"></script>
	</head>

	<body ontouchstart>
		<div class="all">
			<div class="head_back">
				<img src="../../static/img/login/login_back.jpg" />
				<div class="weinfo">
					<div class="weinfo_head">
						<img id="headImg" src="../../static/img/login/weinfo_head.jpg" />
					</div>
					<div class="weinfo_label">
						<label id="nickName">Small.....</label>
					</div>
				</div>
			</div>
			<ul class="bodytip">
				<li class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<span style="vertical-align: middle">姓名</span>
					</div>
					<div class="weui-cell__ft userName"></div>
				</li>
                <li class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <span style="vertical-align: middle">电话</span>
                    </div>
                    <div class="weui-cell__ft userTel"></div>
                </li>
			</ul>

		</div>
	</body>

</html>