<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/member/member.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/member/menber_tele.css?v=1.0.0" />
		<!--<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />-->
		<script type="text/javascript" src="../../static/js/weui.min.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/jquery.min.js?v=1.0.0"></script>
		<!--<script type="text/javascript" src="../../static/js/utils/getWxOpenId.js?v=1.0.0" ></script>-->
	</head>

	<body>
		<div class="back">
			<div class="sub">
				<label>完成</label>
			</div>
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<input class="weui-input" type="text" placeholder="请输入手机号">
					</div>
				</div>
			</div>
		</div>
	</body>

</html>