<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>图纸下载</title>
		<link rel="stylesheet" href="../../static/css/sddown/sddown_new.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<script type="text/javascript" src="../../static/js/weui.min.js?v=1.0.0"></script>
		<script src="../../static/js/sddown/sddown_new.js?v=1.0.0"></script>
		<script src="../../static/js/jquery.min.js?v=1.0.0"></script>
		<script src="../../static/js/utils/common.js"></script>
		<script type="text/javascript" src="../../static/js/utils/core.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/utils/getWxOpenId.js"></script>
	</head>

	<body>

		<div class="all">
			<div class="head_back">

			</div>
			<div class="bodytip">

				<!--<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">水电工id</label>
							</div>
							<input id="inputSdid" class="weui-input" type="text" placeholder="请输入水电工id"> </div>
					</div>
				</div>
				<div class="body_hrt">
					<hr />
				</div>
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">业主姓名</label>
							</div>
							<input id="inputName" class="weui-input" type="text" placeholder="请输入业主姓名"> </div>
					</div>
				</div>
				<div class="body_hrt">
					<hr />
				</div>
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">业主电话</label>
							</div>
							<input id="inputTelphone" class="weui-input" type="text" placeholder="请输入业主电话"> </div>
					</div>
				</div>
				<div class="body_hrt">
					<hr />
				</div>-->
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">详细地址</label>
							</div>
							<input id="inputAddress" class="weui-input" type="text" placeholder="请输入详细地址"> </div>
					</div>
				</div>
				<!--<div class="body_hrt">
					<hr />
				</div>-->
				<!--<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">备注</label>
							</div>
							<input id="inputComment" class="weui-input" type="text" placeholder="请输入备注"> </div>
					</div>
				</div>-->
			</div>
			<div class="submit">
				<button onclick="Bt_submit()">提交</button>
			</div>

	</body>

</html>