<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电图下载</title>
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
        <link rel="stylesheet" href="../../static/css/sddown/sddown.css?v=1.0.0" />
        <script src="../../static/js/lib-zep.js"></script>
		<script src="../../static/js/sddown/sddown_recevice.js?v=1.0.0"></script>
		<style type="text/css">
			body {
				font-size: 14px;
			}
			.weui-dialog__bd{
				padding:0;
			}
			.weui-label1{
				display: block;
				padding:0 10px;
				word-wrap: break-word;
				word-break: break-all;
				font-size:14px;
			}
			.weui-vcode-btn{
				font-size:12px;
			}
			.weui-cell__bd{
				font-size:14px;

			}
		</style>
	</head>
	<body>
		<div class="page__bd">
			<div class="weui-gallery" id="gallery" style="opacity: 0; display: none;">
				<div class="weui-closed">
					<span>关闭</span>
				</div>
				<div>
					<img class="weui-gallery__img" id="galleryImg" />
				</div>
				<!--<div class="weui-gallery__opr">
					<a href="javascript:" class="weui-gallery__del" id="galleryDel">
						<i class="weui-icon-delete weui-icon_gallery-delete"></i>
					</a>
				</div>-->
			</div>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell__bd">
					<div id="details" class="weui-uploader__bd">

					</div>
				</div>
			</div>
		</div>
		<!--<div class="page__bd">
			<div class="weui-gallery" id="gallery" style="opacity: 0; display: none;">
				<span class="weui-gallery__img" imgid="" id="galleryImg"></span>
				<div class="weui-gallery__opr">
					<a href="javascript:" class="weui-gallery__del" id="galleryDel">
						<i class="weui-icon-delete weui-icon_gallery-delete"></i>
					</a>
				</div>
			</div>
			<div class="weui-cells weui-cells_form">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<div id="details" class="weui-uploader__bd">

							</div>
						</div>
					</div>
				</div>
		</div>-->

	</body>
</html>
