<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/sddown/sddown_new.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
	</head>

	<body>

		<div class="all">
			<div class="head_back">

			</div>
			<div class="bodytip">
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">新的地址</label>
							</div>
							<input class="weui-input" type="text" placeholder="请输入地址"> </div>
					</div>
				</div>
				</div>
				<div class="submit">
					<button>提交</button>
				</div>

	</body>

</html>