<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/sddown/sddown_det.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<script src="../../static/js/history/history_new.js?v=1.0.0"></script>
		<script src="../../static/js/home/jquery.min.js?v=1.0.0"></script>
	</head>

	<body>
		<div class="container" id="container">
			<div class="page gallery js_show">
				<div class="page__hd">
					<h1 class="page__title">Gallery</h1>
					<p class="page__desc">画廊，可实现上传图片的展示或幻灯片播放</p>
				</div>
				<div class="weui-gallery" style="display: block">
					<span class="weui-gallery__img" style="background-image: url(./images/pic_article.png);"></span>
					<div class="weui-gallery__opr">
						<a href="javascript:" class="weui-gallery__del">
							<i class="weui-icon-delete weui-icon_gallery-delete"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>