<!DOCTYPE html>
<html>

	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>核销</title>
        <link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
        <link rel="stylesheet" href="../../static/css/styles.css">
        <!--<script src="../../static/js/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="../../static/js/weui.min.js" ></script>
        <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js?v=1.0.0"></script>
        <script type="text/javascript" src="../../static/js/utils/wxApi.js" ></script>
        <script type="text/javascript" src="../../static/js/lrz.all.bundle.js"></script>
        <script type="text/javascript" src="../../static/js/utils/core.js?v=1.0.0"></script>
        <script type="text/javascript" src="../../static/js/utils/getWxOpenId.js"></script>-->
        <script src="../../static/js/lib-jq.js"></script>
        <script type="text/javascript" src="../../static/js/saleToverify/saleVerify.js" ></script>
    </head>
    <script>
        //保存上传图片信息的全局变量
        var uploadFiles = [];
        $(function() {
            //var theRequest = GetRequest();
            //console.log(theRequest);
            var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                $gallery = $("#gallery"),
                $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles");

            $uploaderInput.on("change", function(e) {
                var src, url = window.URL || window.webkitURL || window.mozURL,
                    files = e.target.files;
                uploadFiles.push(files)
                for(var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];
                    if(url) {
                        src = url.createObjectURL(file);
                    } else {
                        src = e.target.result;
                    }
                    $uploaderFiles.append($(tmpl.replace('#url#', src)));
                }

            });

            var index; //第几张图片
            $uploaderFiles.on("click", "li", function() {
                index = $(this).index();
                $galleryImg.attr("style", this.getAttribute("style"));
                $gallery.fadeIn(100);
            });
            $gallery.on("click", function() {
                $gallery.fadeOut(100);
            });
            //删除图片 删除图片的代码也贴出来。
            $(".weui-gallery__del").click(function() {
                $uploaderFiles.find("li").eq(index).remove();
            });

        });
    </script>
<body>
    <div class="large-margins">
        <input type="hidden" value="" id="khdm"/>
        <span class="khmc"></span>
        <a href="saleVerifyList.html" class="hxRecord fri">核销记录</a>
    </div>
	<div class="sCode clear">
		<input class="fle sCodeInput" placeholder="请扫描优惠码" readonly/>
        <a href="javascript:void(0)" class="scanQRCode fri" id="scanQRCode" type="button">
            <img src="../../static/img/saoCode.png" height="26" width="26"/><br>
            <span>扫一扫</span>
        </a>
	</div>
    <div class="hiddenInfo">
        <input type="hidden" id="telephone" value=""/>
        <input type="hidden" id="name" value=""/>
    </div>
    <!--上传图片-->
    <div class="large-margins"><span>请上传图片</span></div>
    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
        </div>
        <div style="margin-top:0;" class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files weui_uploader_files" id="uploaderFiles">
                            </ul>
                            <div class="weui-uploader__input-box">
                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" multiple="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--输入姓名-->
    <div class="large-margins"><span>请输入顾客姓名</span></div>
    <div style="margin-top:0;" class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" id="customer" type="text" placeholder="请输入顾客姓名">
            </div>
        </div>
    </div>
    <!--输入订单金额-->
    <div class="large-margins"><span>请输入订单金额（元）</span></div>
    <div style="margin-top:0;" class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" id="totalMoney" type="text" placeholder="请输入订单金额（元）">
            </div>
        </div>
    </div>
    <div class="large-margins"><span>请输入优惠金额（元）</span></div>
    <div style="margin-top:0;" class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" id="discountAmount" type="text" placeholder="请输入优惠金额（元）">
            </div>
        </div>
    </div>
    <div style="margin:20px;">
        <a href="javascript:;" class="weui-btn weui-btn_primary" id="submit">提交</a>
    </div>
</body>

<script>
   jQuery(document).ready(function(){
	   	//这个是调用微信的jssdk将需要用到的功能进行注入
		weixin.config({
			debug: false,
			jsApiList: ['hideOptionMenu','scanQRCode']
		});
		weixin.ready(function () {
		  weixin.hideOptionMenu();
		  document.querySelector('#scanQRCode').onclick = function () {
		    weixin.scanQRCode(function(res){
				var loading = weui.loading('loading', {
				    className: 'custom-classname'
				});
				$.ajax({
			        type: "get",
                    url:genAPI('wxDev/verificate/uidAuthority?uid='+res.resultStr),
			        //url: "	http://wx.hongyancloud.com/wxDev/verificate/uidAuthority?uid="+res.resultStr,
			        dataType:"json",
			        success: function(data) {
			        	loading.hide();
				        if(data.code == "00000") {
				            jQuery(".sCodeInput").val(res.resultStr);
				        }else {
				        	weui.topTips(data.msg, 2000);
				        }
			    	}, 
			    	error: function(XMLHttpRequest, textStatus, errorThrown) {
						loading.hide();
						weui.topTips('网络异常', 2000);
			        }
			    });
		    });
		  }
		});
		weixin.error(function (res) {
		  weui.topTips(res.errMsg, 3000);
		});
	});
    </script>
</html>