<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电管家</title>
        <link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
        <link rel="stylesheet" href="../../static/css/styles.css">
		<script src="../../static/js/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="../../static/js/weui.min.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../static/js/utils/wxApi.js" ></script>
        <script type="text/javascript" src="../../static/js/lrz.all.bundle.js"></script>
        <script type="text/javascript" src="../../static/js/utils/core.js?v=1.0.0"></script>
		<!--<script type="text/javascript" src="../../static/js/utils/getWxOpenId.js"></script>-->
        <script type="text/javascript" src="../../static/js/saleToverify/saleVerify.js" ></script>
    </head>
<body>
    <div>
        <ul class="infoList">
            <li>
                <div class="cInfo">
                    <span>姓名</span>
                    <b>总金额：￥100</b>
                    <b>优惠金额：￥20</b>
                </div>
                <div class="binfo">
                    <span></span>
                    <b></b>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>