.home{
	width: 100%;
    height:100%;
}
.home_top {
	position: relative;
	width: 100%;
	height: 120px;
	overflow: hidden;
}
.home_top img{
	width:100%;
    height:100%;
    display: block;
}
.top_head
{   
	z-index: 100;
	position: absolute; 
	top:50%;
    margin-top:-30px;
	left: 5%;
	width: 59px;
	height: 59px;
}
.top_head img
{
	border:4px solid #e1f2f0;
	border-radius:50px ;
	height:100%;
	width: 100%;

}
.top_nick
{
	z-index: 101;
	position: absolute;
	top:50%;
    margin-top:-30px;
	left: 30%;
	color: white;
	font-size: 12px;
	font-weight: 600;
    line-height:70px;
}
.top_info{
    position:absolute;
    top:50%;
    right:10%;
    margin-top:-15px;
    z-index: 101;
    padding:0 20px;
    border-radius: 15px;
    background-color:rgba(225,242,240,0.5);
    line-height:30px;

}
.top_info label
{
	color: white;
	font-size: 12px;
	font-weight: 500;
	text-align:center;
}
.top_back
{
	position: absolute;
	z-index: 50;
	width: 100%;
	height: 100%;
}
.top_back img
{
	width: 100%;
	height: 100%;
}
.grid{
	top: 3px;
	width: 100%;
	height: auto;
    overflow-y: scroll;
}

.weui-grid
{
	height: 100%;
	padding: 45px 20px;
}
.weui-grid__icon
{
	padding: 5px;
}
.weui-grid__label
{
	font-size: 10px;
}
.turnPlayImg
{
	width: 100%;
	height: 120px;
}
.item{
	width: 100%;
	height: 100%;
}

.item img{
	width: 100%;
	height: 100%;
}

.fle{
    float: left;
}
.fri{
    float:right;
}

.discountInfo .infoMj{
    height:45px;
    line-height:45px;
    padding:0 15px;
    border-bottom:1px solid #f5f5f5;
}
.discountInfo{
    border-top:1px solid #f5f5f5;
}
.discountInfo .infoMj span{
    font-size:14px;
}
.discountInfo .infoMj span:last-child{
    color:#f92b24;
}
.infoMj b{
	color:#0066ff;
	font-weight: normal;
}
.discountInfo .infoHx{
    height:45px;
    background-color: #f5f5f5;
    line-height:50px;
    padding:0 15px;

}
.discountInfo .infoHx span{
    font-size:12px;
    color:#888;
}
.hxAddress{
    fonts-size:14px;
    padding:12px 15px;
    border-bottom:1px solid #f5f5f5;
}
.Opentime time{
	color:#999;
}

.homeInfo{
	height: auto;
	padding: 15px;
}

.infoH{
	float:left;
    position:relative;
    left:50%;
	
}
.infoH h1{
	font-size: 16px;
	color: #259B24;
	position:relative;
    left:-50%;
}

.homeH{
	height: 30px;
}

.textBox{
	position: relative;
	
}

.textNor{
	font-size: 13px;
	color: #5A6B73;
}

.textH{
	color: #444444;
	font-weight: 500;
}
