<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/antifake/antifake.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<script type="text/javascript" src="../../static/js/weui.min.js?v=1.0.0" ></script>
		<script src="../../static/js/jquery.min.js?v=1.0.0"></script>
		<script src="../../static/js/utils/hstyle.js?v=1.0.0"></script>
		<script src="../../static/js/antif/antifake.js?v=1.0.0"></script>
	</head>

	<body>
		<div class="antifake">
			<div class="anti_back">
				<img src="../../static/img/antifake/antif_back.jpeg" />
			</div>
			<div class="scan">
				<div class="scan_icon">
					<img id="scanIcon" src="../../static/img/antifake/scan.png">
				</div>
				<div class="scan_p">
					<p>扫码查询</p>
				</div>
			</div>
			<div class="search">
				<div class="search_p">
					<p>防伪查询</p>
				</div>

				<div class="search_input">
					<input type="text" name="insert" placeholder="请输入防伪码">
				</div>
				<div class="search_img">
					<img onclick="searchImg" src="../../static/img/antifake/search.png">
				</div>
			</div>
			<div>
				<a class="address" href="http://www.imooc.com"  title="点击进入防伪查询">点我查询真伪!</a>
			</div>
		</div>
	</body>
</html>