<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<link rel="stylesheet" href="../../static/css/discount/discount.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.min.css" />
		<script src="../../static/js/config.js"></script>
		<script src="../../static/js/weui.min.js?v=1.0.0.js"></script>
		<script src="../../static/js/jquery-2.1.4.js"></script>
		<script src="../../static/js/jquery-weui.js"></script>
		<title>水电工二维码</title>
	</head>
	<script>
		$(function() {
			$.showLoading = function(text) {
				var html = '<div class="weui_loading">';
				html += '<div class="weui-loadmore">\n' +
					'        <i class="weui-loading"></i>\n' +
					'        <span class="weui-loadmore__tips">正在加载</span>\n' +
					'      </div>';
				html += '</div>'
				$(".uidImg").html(html);
			};
			$.showLoading();
			
			function getQueryString(name){
			    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			    var r = window.location.search.substr(1).match(reg);
			    if(r!=null) return unescape(decodeURIComponent(r[2]));return null;
			}
			var uId = (getQueryString('userid')!=null ? getQueryString('userid'):'');
			$(".uIdImg img").attr("src",genAPI("wxDev/qrcode/getQrcode?type=1&uid=" + uId));

            $()
		})
	</script>

	<body>
		<div class="uIdImg" style="width:80%;position:absolute;top:50%;left:50%;margin-left:-40%;margin-top:-40%">
			<img style="display:block;width:100%;" src="" />
		</div>
	</body>

</html>