<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title>新品咨询</title>
    <link rel="stylesheet" href="../static/css/weui.min.css?v=1.0.0" />
    <script src="../static/js/jquery-2.1.4.js"></script>
    <script src="../static/js/weui.min.js"></script>
    <style>
        .weui-grid{width:50%;padding:35px 10px;}
        .more{color:#999}
    </style>
</head>

<body>
<div>
    <img style="width:100%;" src="../static/img/bannerN.jpg"/>
</div>
<div class="page grid js_show">
    <div class="weui-grids">
        <a href="http://b.eqxiu.com/s/bGENw2Vj" class="weui-grid">
            <p class="weui-grid__label">iHouse系列</p>
        </a>
        <a href="http://q.eqxiu.com/s/pD7fdL97" class="weui-grid">

            <p class="weui-grid__label">天际智慧路灯</p>
        </a>
        <a href="http://h3krm3.epub360.cn/v2/manage/book/0ihmhw/?from=groupmessage&isappinstalled=0" class="weui-grid">
            <p class="weui-grid__label">天际系列开关</p>
        </a>
        <a href="javascript:void(0)" class="weui-grid">
            <p class="weui-grid__label more">更多...</p>
        </a>
    </div>
</div>
<script>
    $(function () {
        $(".more").on("click",function () {
            weui.toast("更多新功能有待开发，敬请等待",3000)
        })
    })
</script>
</body>
</html>