<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" />
		<title>水电管家</title>
		<link rel="stylesheet" href="../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../static/css/weui.css?v=1.0.0" />
		<link rel="stylesheet" href="../static/css/home/home.css?v=1.0.0" />
		<link rel="stylesheet" href="../static/css/utlis/owl.carousel.css?v=1.0.0" />
		<script src="../static/js/config.js"></script>
		<script src="../static/js/weui.min.js?v=1.0.0"></script>
		<script src="../static/js/jquery.min.js?v=1.0.0"></script>
		<script src="../static/js/jquery-weui.js"></script>
		<script type="text/javascript" src="../static/js/utils/core.js?v=1.0.0"></script>
		<!--<script type="text/javascript" src="../static/js/utils/getWxOpenId.js?v=1.0.0"></script>-->
		<script src="../static/js/home/owl.carousel.js"></script>
		<script src="../static/js/home/index.js"></script>

	</head>

	<body>
		<div class="home">
			<!--<div class="home_top">
				<a href="javascript:void(0)" class="top_head" id="userPic">
					<img id="headImg" src="../static/img/home/top_head.jpg" />
				</a>
				<div class="top_nick">
					<p id="nickName">Small.....</p>
				</div>
				<div class="top_info">
					<button id="btn" style="display:none;position:absolute;right:50px;top:50px;z-index:999;padding:0 30px;line-height:30px;background: #ff6900;border-radius:15px;color:#fff;border:0;">按钮</button>
					<a href="login/login.html">
						<label>注册</label>
					</a>
				</div>
				<img src="../static/img/home/top_back.jpg" />
			</div>
			<div class="homeInfo">
				<div class="homeH">
					<div class="infoH">
						<h1>贴心优质的售后服务</h1>
					</div>
				</div>
				<div class="textBox">
					<p class="textNor">全国千家专业售后网点提供创业化产品安装、维修、保养服务。</p>
				</div>
				<div class="textBox">
					<p class="textNor textH">&#45;&#45; 服务宗旨</p>
				</div>
				<div class="textBox">
					<p class="textNor">以用户满意为导向，以使用效果为准则</p>
				</div>
				<div class="textBox">
					<p class="textNor textH">&#45;&#45; 服务理念</p>
				</div>
				<div class="textBox">
					<p class="textNor">鸿雁秉承”反应迅速、专业规范、服务全面“的服务工作准则，坚持”服务先于市场”的理念，确保鸿雁的服务始终与用户”心贴心”！</p>
				</div>
				<div class="textBox">
					<p class="textNor textH">&#45;&#45; 全程跟踪服务体系，致力系统化解决方案</p>
				</div>
				<div class="textBox">
					<p class="textNor">鸿雁打破单一的售后服务机制，率先创建”360度全程跟踪服务体系”，自售前、售中到售后，对用户实行全程咨询、指导、量身定制解决方案、完善迅捷的持续跟踪服务，确保鸿雁产品全程受控！</p>
				</div>
			</div>
			<div class="discountInfo">
				<p class="infoHx clear">
					<span class="fle">管家地址</span>
					<span class="Opentime fle">
					（营业时间：<time></time>）
					</span>
				</p>
				<div class="hxAddress"></div>
				<p class="infoMj clear">
					<span class="fle">管家电话</span>
					<a href="javascript:tel()" class="fri jxstel"></a>
				</p>
			</div>-->
			<div class="turnPlayImg">
				<section id="demos">
					<div class="row">
						<div class="large-12 columns">
							<div class="fadeOut owl-carousel owl-theme">
								<div class="item"><img src="../static/img/home/top_bottom1.jpg" /></div>
								<div class="item"><img src="../static/img/home/top_back.jpg" /></div>
								<div class="item"><img src="../static/img/home/top_bottom1.jpg" /></div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="grid">
				<div class="weui-grids">
					<a href="about/mySd.html" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/sdg.png" alt="" />
						</div>
						<!--<p class="weui-grid__label">防伪查询</p>-->
						<p class="weui-grid__label">我的水电管家</p>
					</a>
					<a href="history/history.html" th:href="@{history}" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/icon_hist.png" alt="" />
						</div>
						<p class="weui-grid__label">质保记录</p>
					</a>
					<a href="sddown/sddown.html"  th:href="@{sddown}" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/icon_down.png" alt="" />
						</div>
						<!--<p class="weui-grid__label">水电图下载</p>-->
						<p class="weui-grid__label">管路图查询</p>
					</a>
					<a href="discount/discountNew.html" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/icon_cut.png" alt="" />
						</div>
						<p class="weui-grid__label">我的优惠码</p>
					</a>
                    <a href="saleToverify/saleVerify.html" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="../static/img/home/hexiao.png" alt="" />
                        </div>
                        <p class="weui-grid__label">优惠核销</p>
                    </a>
					<a href="appiontment/appiontmentMap.html" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/icon_date.png" alt="" />
						</div>
						<!--<p class="weui-grid__label">水电管家预约</p>-->
						<p class="weui-grid__label">服务与预约</p>
					</a>
					<a href="member/member.html"  class="weui-grid">
						<div class="weui-grid__icon">
							<img src="../static/img/home/icon_vip.png" alt="" />
						</div>
						<p class="weui-grid__label">个人中心</p>
					</a>
				</div>
			</div>
			<b class="openId"></b>
		</div>
	</body>

</html>