<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>质保记录</title>
		<link rel="stylesheet" href="../../static/css/history/history_pic.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />

		<script src="../../static/js/zepto.min.js?v=1.0.0"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js?v=1.0.0"></script>
		<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js?v=1.0.0"></script>
		<script src="../../static/js/history/history_pic.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/utils/core.js?v=1.0.0"></script>
		<script type="text/javascript" src="../../static/js/utils/getWxOpenId.js"></script>
	</head>

	<body>
		<div class="page__bd">
			<div class="weui-gallery" id="gallery">
				<span class="weui-gallery__img" id="galleryImg"></span>
				<div class="weui-gallery__opr">
					<a href="javascript:" class="weui-gallery__del">
						<i class="weui-icon-delete weui-icon_gallery-delete"></i>
					</a>
				</div>
			</div>

			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="weui-uploader">
							<div class="weui-uploader__bd">
								<ul class="weui-uploader__files" id="uploaderFiles">
								</ul>
								<div class="weui-uploader__input-box">
									<input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
		<div class="submit">
			<button id='uploadPic'>提交</button>
		</div>

		<div id="uploadForm">
			<input id="file" type="file" multiple="multiple" />
			<button id="upload" type="button">button</button>
		</div>
		<script type="text/javascript">
			//保存上传图片信息的全局变量
			var uploadFiles = [];

			$(function() {
				//var theRequest = GetRequest();
				//console.log(theRequest);
				var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
					$gallery = $("#gallery"),
					$galleryImg = $("#galleryImg"),
					$uploaderInput = $("#uploaderInput"),
					$uploaderFiles = $("#uploaderFiles");

				$uploaderInput.on("change", function(e) {
					var src, url = window.URL || window.webkitURL || window.mozURL,
						files = e.target.files;

					uploadFiles.push(files)
					for(var i = 0, len = files.length; i < len; ++i) {
						var file = files[i];

						if(url) {
							src = url.createObjectURL(file);
						} else {
							src = e.target.result;
						}

						$uploaderFiles.append($(tmpl.replace('#url#', src)));
					}
				});
				var index; //第几张图片
				$uploaderFiles.on("click", "li", function() {
					index = $(this).index();
					$galleryImg.attr("style", this.getAttribute("style"));
					$gallery.fadeIn(100);
				});
				$gallery.on("click", function() {
					$gallery.fadeOut(100);
				});
				//删除图片 删除图片的代码也贴出来。
				$(".weui-gallery__del").click(function() {
					$uploaderFiles.find("li").eq(index).remove();
				});

				//提价上传的功能
				$("#uploadPic").click(function() {
					Bt_submit(uploadFiles)
				});

			});
		</script>

	</body>

</html>