<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
		<title>水电管家</title>
		<link rel="stylesheet" href="../../static/css/history/history_new.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/example.css?v=1.0.0" />
		<link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
		<script type="text/javascript" src="../../static/js/weui.min.js?v=1.0.0" ></script>
		<script type="text/javascript" src="../../static/js/jquery.min.js" ></script>
		<script src="../../static/js/history/history_new.js?v=1.0.0"></script>
		<script src="../../static/js/jquery.min.js?v=1.0.0"></script>
		<script src="../../static/js/utils/common.js"></script>
	</head>

	<body>

		<div class="all">
			<div class="head_back">

			</div>
			<div class="bodytip">
				<div class="body_type">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">产品类别</label>
							</div>
							<div class="weui-cell__bd">
								<select id="selType" class="weui-select" name="select2">
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="body_hr">
					<hr />
				</div>
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">备注</label>
							</div>
							<input id="inputName" class="weui-input" type="text" placeholder="请输入备注"> </div>
					</div>
				</div>
				<div class="body_hrt">
					<hr />
				</div>
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">电话</label>
							</div>
							<input id="inputTelphone" class="weui-input" type="text" placeholder="请输入电话"> </div>
					</div>
				</div>
				<div class="body_hrt">
					<hr />
				</div>
				<div class="body_input">
					<div class="weui-cells">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
							<div class="weui-cell__hd">
								<label for="" class="weui-label">地址</label>
							</div>
							<input id="inputAddress" class="weui-input" type="text" placeholder="请输入地址"> </div>
					</div>
				</div>
				</div>
				<div class="submit">
					<button onclick="Bt_submit()">提交</button>
				</div>

	</body>

</html>