<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品质生活节</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" />
    <link rel="stylesheet" href="../../static/css/weui.css?v=1.0.0" />
    <style>
        .weui-textDent{text-indent:32px;}
    </style>
</head>
<body>
<div>
    <article class="weui-article">
        <p class="weui-textDent">打卡品质生活节，我在鸿雁智能体验区。语音智控家居电器，做自己人生的霸道总裁！</p>
        <p><img src="../../static/img/pzshj.jpg"/></p>
    </article>
</div>
</body>
</html>