<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title>Insert title here</title>
	<style>
		#biao1{font-family:"Microsoft YaHei";border:none;font-size:15px;text-align: center;display:block;background-color:#9feb6a;border-radius:10px;width:90%;padding:15px 5%;text-decoration: none;color:#000;}
		.btn{border:none;background: #f00;padding:10px 15px;border-radius: 20px;color:#fff;margin-top:10px;display: inline-block}
	</style>
</head>

<body>
<div style="width:80%; margin: 0 auto;text-align: center">
	<p>
		<textarea id="biao1">【鸿雁旗舰店】，复制这条信息￥YGrv0rrMfuJ￥后打开手淘</textarea>
		<input class="btn" type="button" onClick="copyUrl2()" value="一键复制" />
	</p>
</div>
<script type="text/javascript">
     function copyUrl2(){
         var Url2=document.getElementById("biao1");
         Url2.select(); // 选择对象
         document.execCommand("Copy"); // 执行浏览器复制命令
         alert("已复制好，可贴粘。");
         }
</script>
</body>
</html>