<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title>Insert title here</title>
</head>
<body>
<div style="width:80%; margin: 0 auto">
	<p>
		<a href="javascript:void(0)" style="text-align: center;display:block;background-color:#61ff60;border-radius:10px;width:90%;padding:15px 5%;text-decoration: none;color:#000;">【鸿雁旗舰店】，复制这条信息￥YGrv0rrMfuJ￥后打开向右 右边手淘向左 左边</a>
	</p>
</div>
</body>
</html>