body{
	width: 100%;
	height: 100%;
}

.back{
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}

.sub{
	z-index: 2;
	position: relative;
}

.sub label{
	position: relative;
	color: #9ACD32;
	left: 85%;
}

.weui-input{
	font-size: 16px !important;
}

.weui-cells{
	position: relative;
	margin-top: 0!important;
}
